################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/HttpTool.WPF/HttpTool/obj/Debug
/HttpTool.WPF/HttpTool/bin/Debug
/HttpTool.WPF/.vs
/HttpTool.WPF/HttpTool/bin/Release
/HttpTool.WPF/HttpTool/obj/Release
/.vs
/HttpTool.WPF/packages
/HttpTool/bin/Debug/net10.0-windows
/HttpTool/obj
/HttpTool.Core/bin/Debug/net10.0
/HttpTool.Core/obj
/HttpTool.Desktop/obj
/HttpTool.Desktop/bin/Debug/net10.0-windows
/HttpTool.Infrastructure/bin/Debug/net10.0
/HttpTool.Infrastructure/obj
/.claude
/.idea/.idea.HttpTool/.idea
/bin/BuildTest
/HttpTool.Core/bin/Release/net10.0
